@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* === Variáveis === */
:root {
  --cor-titulo: #11175E;
  --cor-tarefa: #001747;
  --cor-concluir: #2D70FD;
  --cor-bordas: #EEEEEE;
  --cor-label: #B1BACB;
  --cor-concluida:#8F98A8;


  --fonte-primaria: "Rubik", sans-serif;
  --fonte-secundaria: "Inter", sans-serif;
}

/* === Reset === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === Corpo da Página === */
body {
  background: #F5F9FF;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--fonte-secundaria);
}

/* === Container Principal === */
main {
  background: #FFFFFF;
  border: 1px solid var(--cor-bordas);
  border-radius: 1rem;
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 800px;
}

/* === Cabeçalho === */
h1 {
  font-family: var(--fonte-primaria);
  color: var(--cor-titulo);
  font-weight: 600;
  font-size: 2.5rem;
  text-align: left;
}

/* === Formulário === */
form {
  display: flex;
  gap: 1rem;
}

.input-tarefa {
  width: 15.8rem;
  height: 3rem;
  padding: 1.5rem 2rem;
  border: 1px solid var(--cor-bordas);
  border-radius: 8px;
  font-family: var(--fonte-primaria);
  font-size: 1rem;
}

.input-tarefa::placeholder {
  color: var(--cor-label);
  font-weight: 400;
}

/* === Botões === */
.botao-acao {
  background-color: var(--cor-concluir);
  color: #FFFFFF;
  border: 1px solid var(--cor-concluir);
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: var(--fonte-secundaria);
  width: 7.5rem;
  height: 2.7rem;
}

#botao-tarefa {
  width: 2.8rem;
  height: 2.8rem;
}



/* === Lista de Tarefas === */
.tarefas {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-tarefa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1.5rem;
  border: 1px solid var(--cor-bordas);
  border-radius: 1rem;
  background-color: #fff;
  
}

/* === Informações da Tarefa === */
.info-tarefa {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.titulo-tarefa {
  font-size: 1rem;
  font-weight: 500;
 
  
}
.tarefa-incompleta {
 color: var(--cor-tarefa);
}

/* === Detalhes === */
.detalhes-tarefa {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--cor-label);
  font-size: 0.85rem;
}

.etiqueta {
  font-size: 0.7rem;
  font-weight: 500;
  border: 1px solid var(--cor-label);
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
}

/* === Rodapé === */
footer {
  margin-top: 1rem;
}

hr {
  border: 1px solid var(--cor-bordas);
  width: 100%;
}


/*== Tarefas concluídas == */
#tarefa-concluida {
  font-size: 1rem;
  font-weight: 400;
  color: var(--cor-label);
  text-align: end;
  padding-top: 1.6rem;
}

.titulo-concluida{
  text-decoration: line-through;
  color: var(--cor-concluida);
}

.icone-check{
  margin:0 2rem;
}



/*== Responsividade == */

/*== Tablet == */
@media (max-width:1024px){
  body{
  align-items: start;
  
}
main{
  margin:1rem 1rem;
  padding: 0;
 
}
 h1{
  font-size: 2rem;
  text-align: left;
  margin-left: 1rem;
  
}
#form-tarefa{
 margin-left:1rem;
}
.input-tarefa{
  width: 40%;
}
#botao-tarefa{
  width: 10%;
  
}
.tarefas{
align-items: center;

 
}
.card-tarefa{
  width: 90%;

}
#tarefa-concluida{
  margin-right: 1rem;
}
}

/*== Mobile== */

@media (max-width:480px){
body{
  align-items: start;
 
}
main{
  margin:0 1rem;
  padding: 0;
 
}
 h1{
  font-size: 2rem;
  text-align: center;
  
}
#form-tarefa{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.input-tarefa{
  width: 90%;
}
#botao-tarefa{
  width: 90%;
  
}
.tarefas{
  justify-content: center;
  align-items: center;
}
.card-tarefa{
  display: flex;
  flex-direction: column;
  width: 90%;

}
#tarefa-concluida{
  margin-right: 1rem;
}
}

